<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale= 1.0">
    <title>Collected Information</title>
</head>
<body>
    <h1>Collected Information</h1>
    <ul>
        <li>First Name: {{ form_data.first_name }}</li>
        <li>Middle Name: {{ form_data.middle_name }}</li>
        <li>Last Name: {{ form_data.last_name }}</li>
        <li>Gender: {{ form_data.gender }}</li>
        <li>Age: {{ form_data.age }}</li>
        <li>Status: {{ form_data.status }}</li>
        <li>Date of Birth: {{ form_data.dob }}</li>
        <li>Email: {{ form_data.email }}</li>
        <li>Street Address: {{ form_data.street_address }}</li>
        <li>City: {{ form_data.city }}</li>
        <li>State/Province: {{ form_data.state_province }}</li>
        <li>Zip Code: {{ form_data.zip_code }}</li>
        <li>Phone Number: {{ form_data.phone_number }}</li>
        <li>Applicant Type: {{ form_data.applicant_type }}</li>
        <li>Applicant Full Name: {{ form_data.applicant_full_name }}</li>
        <li>Applicant Gender: {{ form_data.applicant_gender }}</li>
        <li>Applicant Date of Birth: {{ form_data.applicant_dob }}</li>
    </ul>
    <a href="/form-filling">Go Back</a>
</body>
</html>